# Standard Exclusions
*custom*
*~
sitemap.xml
sitemap_*.xml

# Exclude Everything
*

# Include these
!_functions/db/*
!_settings/db.default.php

!_hooks/preload/connect-to-database.php

!.codeclimate.yml
!.gitignore-db
!.stylelintignore
!.codacy.yml
!.travis.yml
!.mdlrc
!.stylelintrc.json
!.eslintignore
!.gitignore
!.eslintrc.json
!.mdlrc.style.rb

!LICENSE.md
!README.md
